@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #f6eee3!important;

}

.container{
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #695e4e;
  }

.section1{
   height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
}

.section1 h1 {
    margin-top: 10%;
}


.section2{
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
}

.section3{
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
}

.section4{
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
}


.section5 {
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
}

.section5 a{
    text-decoration: none;
    color: #2b2926;
}