
*{
    list-style-type: none;
    text-decoration: none;;
}

.navbar-nav{
    float: left;
    color: white;
}
.nav-bar li {
    display: inline-block;
}

.nav-bar a {
    color: white;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}